<!--
  ~ /**
  ~  * Created by Ali YÜCE on 3/2/20 11:18 PM
  ~  * https://github.com/mayuce/
  ~  * Copyright (c) 2020 . All rights reserved.
  ~  * Last modified 3/2/20 11:10 PM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.labters.documentscanner">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:exported="false"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name="com.labters.documentscanner.ImageCropActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>